<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="list-print" th:if="${items} and ${items.size()}">
        <div th:if="${items} and ${items.size()}">
        <table class="job-listing" th:each="item, idx : ${items}" >
            <tr th:each="elem, idx : ${item}" th:class="${idx.odd} ? 'odd'">
                <td th:text="${#strings.capitalizeWords(elem.key)}"></td>
                <td th:text="${elem.value}"></td>
            </tr>
        </table>
        </div>
    </div>



</body>
</html>